.totalValueAlignRight {
	text-align: right;
    margin-right: 30px;
}
.totalLabelAlignRight {
	text-align: right;
   
}
.totalOrderValueAlignRight {
    color: brown;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    margin-right: 30px;
}

div {
margin-bottom: 10px;
}
label {
display: inline-block;
text-align: left;
}
 